body {
    font-family: 'Trebuchet MS', sans-serif;
    background: linear-gradient(to left, rgb(30, 41, 75), rgb(0, 0, 0));
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
h1 {
    color: #333;
    margin-bottom: 25px;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}
button, a.button {
    width: 100%;
    padding: 12px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    margin: 10px 0;
    text-decoration: none;
    display: block;
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
button:hover, a.button:hover {
    background-color: #003399;
}
.form-group button, .button {
    width: 100%;
    padding: 10px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    margin: 10px 0;
    text-decoration: none;
    display: block;
}

.form-group button:hover, .button:hover {
    background-color: #003399;
}