@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

header {
    position: relative;
    background-color: white;
    padding: 40px;
    border-bottom: 2px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px; 
    left: 20px;
}

.logo img {
    position: relative;
    height: 50px;
    width: 50px;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-left: 10px;
}

.profile-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 60px;
    height: 40px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.menu-icon {
    font-size: 18px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.profile-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    right: 10px;
    bottom: 11px;
}

.notification {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
}

.profile-container {
    display: block; 
    margin-top: 20px;
}

.profile-card {
    display:block;
    width: 250px; 
    min-height: 500px; 
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute; 
    left: 250px;
    top: 150px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; 
}

.profile-info {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.rating {
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.reviews {
    color: gray;
    font-size: 15px;
    font-weight: bold;
}

.role {
    font-size: 16px;
}

.profile-details {
    font-family: 'Poppins', sans-serif;
    margin-left: 560px;
    margin-top: -100px;
}

.profile-details h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 150px; 
}

.location {
    font-size: 14px;
    color: gray;
    margin-top: -50px; 
    margin-bottom: 10px;
}

.bio {
    font-size: 14px;
    color: gray;
    line-height: 1.5;
    max-width: 600px;
}
